<h1>Code for 選挙</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:zip_code, "郵便番号:") %>
  <%= text_field_tag(:zip_code) %>
  <%= submit_tag("Search") %>
<% end %>


<h2>atoms</h2>
<div class="typo-1">typo-1</div>
<div class="typo-2">typo-2</div>
<div class="typo-text-1">typo-text-1</div>

<hr />

<h2>molecules</h2>
<%= render partial:'layouts/molecules/searchbar', locals: {propName:'prop', placeHolder:'郵便番号', val:''} %>
<%= render partial:'layouts/molecules/person', locals: {src: '/assets/Person@2x.png'} %>
<%= render partial:'layouts/molecules/area-type', locals: {areaType: '比'} %>
<%= render partial:'layouts/molecules/detail-button', locals: {detailUrl: '/'} %>
<%= render partial:'layouts/molecules/social-icons',
  locals: {
    facebookLink: '/',
    instagramLink: '/',
    internetLink: '/',
    lineLink: '/',
    twitterLink: '/',
    wikipediaLink: '/',
    youtubeLink: '/'
  }
%>

<h2>organisms</h2>
<%= render partial:'layouts/organisms/person-item',
locals: {
    party: '甘党',
    name: '山田太郎',
    age: '30',
    job: 'ニート',
    isDuplication: false,
    image: '/assets/Person@2x.png',
    detailUrl: '/',
    areaType: '比'
} %>
<%= render partial:'layouts/organisms/list-header',
locals: {
  zipCode: '106-0032',
  senkyokuName: '東京都第1選挙区',
} %>

<h2>Block</h2>
<%= render partial:'layouts/organisms/person-block',
locals: {
    party: '甘党',
    name: '山田太郎',
    age: '30',
    job: 'ニート',
    image: '/assets/Person@2x.png',
    areaType: '比'
} %>
