<h1>Code for 選挙</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:zip_code, "郵便番号:") %>
  <%= text_field_tag(:zip_code) %>
  <%= submit_tag("Search") %>
<% end %>


<h2>atoms</h2>
<div class="typo-1">typo-1</div>
<div class="typo-2">typo-2</div>
<div class="typo-text-1">typo-text-1</div>

<hr />

<h2>molecules</h2>
<%= render partial:'layouts/molecules/searchbar', locals: {propName:'prop', placeHolder:'郵便番号', val:''} %>
<%= render partial:'layouts/molecules/person', locals: {src: asset_path('Person@2x.png') } %>
<%= render partial:'layouts/molecules/area-type', locals: {areaType: '比'} %>
<%= render partial:'layouts/molecules/detail-button', locals: {detailUrl: '/'} %>
<%= render partial:'layouts/molecules/social-icons',
  locals: {
    facebookLink: '/',
    instagramLink: '/',
    internetLink: '/',
    lineLink: '/',
    twitterLink: '/',
    wikipediaLink: '/',
    youtubeLink: '/'
  }
%>

<h2>organisms</h2>
<%= render partial:'layouts/organisms/person-item',
locals: {
    party: '甘党',
    name: '山田太郎',
    age: '30',
    job: 'ニート',
    isDuplication: false,
    image: asset_path('Person@2x.png'),
    detailUrl: '/',
    areaType: '比'
} %>
<%= render partial:'layouts/organisms/list-header',
locals: {
  zipCode: '106-0032',
  senkyokuName: '東京都第1選挙区',
} %>

<h2>Block</h2>
<%= render partial:'layouts/organisms/person-block',
locals: {
    party: '甘党',
    name: '山田太郎',
    age: '30',
    job: 'ニート',
    image: asset_path('Person@2x.png'),
    areaType: '比',
    facebookLink: '/',
    instagramLink: '/',
    internetLink: '/',
    lineLink: '/',
    twitterLink: '/',
    wikipediaLink: '/',
    youtubeLink: '/'
} %>
<%= render partial:'layouts/organisms/detail-block',
locals: {
    name: '山田太郎',
    party: '甘党',
    recommendationParty: '推薦政党が入ります',
    previousParty: '以前の政党が入ります',
    job: '前職',
    candidacyHistory: '過去の立候補歴',
    sex: '男性',
    birthDay: '1900年1月1日',
    birthPlace: '出生地',
    latestEducationalBackground: '最新の学歴が入ります',
    educationalBackground: '学歴の履歴が入ります',
    career: '職歴',
    publicOffice: '公職',
    father: '父親',
    mate: '配偶者'
} %>
