<h1>Code for 選挙</h1>

<%= form_tag("/search", method: "get") do %>
  <%= render :partial=>'layouts/molecules/searchbar', :locals=>{ propName:"zip_code",placeHolder:'郵便番号', val:'値'} %>
  <%= submit_tag("Search") %>
<% end %>


<h2>atoms</h2>
<div class="typo-1">typo-1</div>
<div class="typo-2">typo-2</div>
<div class="typo-text-1">typo-text-1</div>

<hr />

<h2>molecules</h2>
<%= render partial:'layouts/molecules/searchbar', locals: {propName:'prop', placeHolder:'郵便番号', val:''} %>
<%= render partial:'layouts/molecules/person', locals: {src: '/assets/Person@2x.png'} %>

<h2>organisms</h2>
<<<<<<< Updated upstream
<%= render partial:'layouts/organisms/person-item',
locals: {
    party: '甘党',
    name: '山田太郎',
    age: '30',
    job: 'ニート',
    isDuplication: false,
    image: '/assets/Person@2x.png'
} %>

<h2>Block</h2>
<div class="person-block">
  <div class="profile">
    <div class="typo-text-1">僕は甘党</div>
    <div class="column">
        <div class="typo-2 person-name">山田太郎</div>
        <div class="typo-text-1 person-age">30</div>
    </div>
    <div class="typo-text-1">ニート</div>
  </div>
  <div class="person">
      <img src="/assets/Person@2x.png" />
  </div>
</div>
