<div class="icons-wrapper">
  <%= link_to_if(facebookLink, image_tag("Facebook.png", :size => "38x38", :alt => "Facebook Link"), facebookLink, { class: "icon-item link" }) %>
  <%= link_to_if(instagramLink, image_tag("Instagram.png", :size => "38x38", :alt => "Instagram Link"), instagramLink, { class: "icon-item link" }) %>
  <%= link_to_if(internetLink, image_tag("Internet.png", :size => "38x38", :alt => "Internet Link"), internetLink, { class: "icon-item link" }) %>
  <%= link_to_if(lineLink, image_tag("Line.png", :size => "38x38", :alt => "Line Link"), lineLink, { class: "icon-item link" }) %>
  <%= link_to_if(twitterLink, image_tag("Twitter.png", :size => "38x38", :alt => "Twitter Link"), twitterLink, { class: "icon-item link" }) %>
  <%= link_to_if(wikipediaLink, image_tag("Wikipedia.png", :size => "38x38", :alt => "Wikipedia Link"), wikipediaLink, { class: "icon-item link" }) %>
  <%= link_to_if(youtubeLink, image_tag("Youtube.png", :size => "38x38", :alt => "Youtube Link"), youtubeLink, { class: "icon-item link" }) %>
</div>