<div class="candidate-detail-wrapper">
  <div class="detail-item">
    <p class="typo-text-1">本名</p>
    <p class="typo-2"><%= name %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">公認政党</p>
    <p class="typo-2"><%= party %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">前職</p>
    <p class="typo-2"><%= job %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">性別</p>
    <p class="typo-2"><%= sex %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">生年月日</p>
    <p class="typo-2"><%= birthDay %></p>
  </div>
</div>
