<div class="candidate-detail-wrapper">
  <div class="detail-item">
    <p class="typo-text-1">本名</p>
    <p class="typo-2"><%= name %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">公認政党</p>
    <p class="typo-2"><%= party %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">推薦政党</p>
    <p class="typo-2"><%= recommendationParty %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">以前の政党</p>
    <p class="typo-2"><%= previousParty %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">前職</p>
    <p class="typo-2"><%= party %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">過去の立候補歴</p>
    <p class="typo-2"><%= candidacyHistory %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">性別</p>
    <p class="typo-2"><%= sex %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">生年月日</p>
    <p class="typo-2"><%= birthDay %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">出生地</p>
    <p class="typo-2"><%= birthPlace %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">学歴(最新)</p>
    <p class="typo-2"><%= latestEducationalBackground %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">学歴(履歴)</p>
    <p class="typo-2"><%= educationalBackground %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">職歴</p>
    <p class="typo-2"><%= career %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">公職</p>
    <p class="typo-2"><%= publicOffice %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">父親</p>
    <p class="typo-2"><%= father %></p>
  </div>
  <div class="detail-item">
    <p class="typo-text-1">配偶者</p>
    <p class="typo-2"><%= mate %></p>
  </div>
</div>