<div class="person-block">
  <div class="profile">
    <div class="typo-text-1"><%= party %> <%= render partial:'layouts/molecules/area-type', locals: {areaType: '比'} %></div>
    <div class="column">
        <div class="typo-1 person-name"><%= name %></div>
        <div class="typo-text-1 person-age"><%= age %>歳</div>
    </div>
    <div class="typo-text-1 former-job"><%= job %></div>
    <%= render partial:'layouts/molecules/social-icons',
      locals: {
        facebookLink: facebookLink,
        instagramLink: instagramLink,
        internetLink: internetLink,
        lineLink: lineLink,
        twitterLink: twitterLink,
        wikipediaLink: wikipediaLink,
        youtubeLink: youtubeLink
      }
    %>
  </div>
  <%= render partial:'layouts/molecules/person', locals: {src: image} %>
</div>
