<div class="person-item">
    <%= render partial:'layouts/molecules/person', locals: {src: image} %>
    <div class="typo-text-1"><%= party %></div>
    <div class="column">
        <div class="typo-2 person-name"><%= name %></div>
        <div class="typo-text-1 person-age"><%= age %></div>
    </div>
    <div class="column">
        <div class="typo-text-1 former-job"><%= job %></div>
        <div class="typo-text-1 duplication"><%=isDuplication ? '有': ''%></div>
    </div>
</div>
