<%= form_with(model: pref, local: true) do |form| %>
  <% if pref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pref.errors.count, "error") %> prohibited this pref from being saved:</h2>

      <ul>
      <% pref.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pref_code %>
    <%= form.text_field :pref_code, id: :pref_pref_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pref_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
