<p id="notice"><%= notice %></p>

<h1>Prefs</h1>

<table>
  <thead>
    <tr>
      <th>Pref code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prefs.each do |pref| %>
      <tr>
        <td><%= pref.pref_code %></td>
        <td><%= pref.name %></td>
        <td><%= link_to 'Show', pref %></td>
        <td><%= link_to 'Edit', edit_pref_path(pref) %></td>
        <td><%= link_to 'Destroy', pref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pref', new_pref_path %>
