<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | <%= APP_TITLE %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/0c583bc461.js"></script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45275834-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-45275834-6');
    </script>
  </head>

  <body>
    <%= yield %>
    <div class="typo-2" id="footer">
      このサイトで利用している情報は、<a href="http://election.code4japan.org/">Code for 選挙プロジェクト</a>で作られたオープンデータを利用しています。<br/>
      データに不備を発見した場合や、データ収集に協力いただける方は、<a href="https://github.com/codeforjapan/codeforelection">プロジェクトページ</a>からご連絡ください。<br/>
      サイト運営：<a href="http://election.code4japan.org/">Code for 選挙プロジェクト</a>
    </div>
  </body>
</html>
