<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | <%= APP_TITLE %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/0c583bc461.js"></script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45275834-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-45275834-6');
    </script>

    <meta property="og:title" content="<%= @title %> | <%= APP_TITLE %>">
    <meta property="og:url" content="https://kouhosha.info/">
    <meta property="og:image" content="https://kouhosha.info/images/kouhosha_ogp.png">
    <meta property="og:description" content="このサイトでは、郵便番号からあなたの住む地域の選挙区と立候補者を検索し、その候補者の情報を表示することができます。">
    <meta property="fb:app_id" content="166634390586314">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width,initial-scale=1">

  </head>

  <body>
    <%= render 'layouts/organisms/menu' %>
    <%= yield %>
    <%= render 'layouts/organisms/footer' %>
  </body>
</html>
